<%- layout('layouts/boilerplate') %>

  <div class="container text-center my-5">
    <h1><strong>Edit Item in Collection: <%=Item_Name%></strong></h1>
  </div>

  <!-- Show preview of image so user can see and decide if they want to update it -->
  <div class="container d-flex justify-content-center">
    <img src="/assets/img/<%= Item_Img_Name%>" alt="<%= Item_Img_Name%> image" title="<%= Item_Img_Name%>"
      class="img-fluid" width="30%">
  </div>
  <div class="container text-center my-2">
    <!-- <form action="/upload" method="post" enctype="multipart/form-data"> -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fileModal">Edit
      Image</button>
    <!-- </form> -->
  </div>
  <!-- End preview of image and form to upload image -->

  <!-- Begin Modal to upload new image file -->
  <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload New Image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/uploadCollections/<%= Item_ID%>" method="post" enctype="multipart/form-data">
            <label for="item-img" class="col-form-label">Image Upload</label>
            <!-- <div class="col-sm-10"> -->
            <input type="file" class="form-control" name="uploadImg" id="item-img" aria-label="file example"
              value="<%=Item_Img_Name%>" file="<%=Item_Img_Name%>" required>
            <div class="invalid-feedback">No file chosen.
            </div>
            <!-- </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- Begin Editing Form -->
  <div class="container g-5 my-4">
    <form action="/collections/<%=Item_ID%>?_method=PUT" method="post" class="needs-validation g-3" novalidate>
      <div class="row mb-3">
        <label for="item-name" class="col-sm-2 col-form-label">Item Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="item[name]" id="item-name"
            placeholder="Please enter your item name." value="<%=Item_Name%>" required>
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div class="invalid-feedback">Invalid Item Name.</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="item-desc" class="col-sm-2 col-form-label">Item Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="item[desc]" id="item-desc" cols="50" rows="5"
            placeholder="Please enter an item description." required><%=Item_Description%></textarea>
          <div class="invalid-feedback">Invalid Item Description.</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="purch-date" class="col-sm-2 col-form-label">Purchase Date</label>
        <div class="col-sm-10 col-md-2">

          <!-- JavaScript to format the date properly so it can be inserted as the default value when editing: -->
          <% date=Item_Purch_Date; %>
            <% const year=date.getFullYear();%>
              <% const month=String(date.getMonth() + 1).padStart(2,'0');%>
                <% const day=String(date.getDate()).padStart(2, '0' );%>
                  <% const newFormattedDate=`${year}-${month}-${day}`; %>

                    <input type="date" class="form-control" name="item[purchDate]" id="purch-date"
                      value="<%=newFormattedDate%>" required>
                    <div class="invalid-feedback">Invalid Purchase Date.
                    </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="purch-price" class="col-sm-2 col-form-label">Purchase Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="item[purchPrice]" id="purch-price"
            placeholder="Please enter the item's purchase price." value="<%=Item_Purch_Price%>" required>
          <div class=" invalid-feedback">Invalid Item Purchase Price.
          </div>
        </div>
      </div>
      <!-- <div class="row mb-3">
        <label for="item-img" class="col-sm-2 col-form-label">Image Upload</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" name="item[img]" id="item-img" aria-label="file example"
            value="<%=Item_Img_Name%>" file="<%=Item_Img_Name%>" required>
          <div class="invalid-feedback">No file chosen.
          </div>
        </div>
      </div> -->
      <div class="text-center" style="color: red; font-weight: bold;">Image File won't pre-pop with the
        respective current values.
      </div>
      <span class="d-flex justify-content-evenly my-5">
        <a href="/collections" class="btn btn-primary px-4">Back</a>
        <button type="submit" class="btn btn-success">Edit Item</button>
      </span>
    </form>
  </div>
  <!-- End Editing Form -->

  <!-- JS validation Script: -->
  <script src="/assets/js/event-listeners.js"></script>