<%- layout('layouts/boilerplate') %>

  <div class="table-responsive my-5 mx-3">
    <h1 class="text-center">
      <%= currentUser.user %>'s Collection
    </h1>
    <table class="table table-striped table-hover align-middle caption-top">
      <caption>Click on any row for more detail (pops ups modal). Don't know where files are being uploaded to so I
        can't find them and that edit function doesn't work, lol:
      </caption>
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Image</th>
          <th scope="col">Item Name</th>
          <th scope="col">Item Description</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Purchase Price</th>
        </tr>
      </thead>
      <tbody>
        <% for ( let res of results ) {%>
          <tr class="clickable" data-bs-toggle="modal" data-bs-target="#myModal" data-name="<%= res.Item_Name %>"
            data-desc="<%= res.Item_Description %>" data-img="assets/img/<%= res.Item_Img_Name%>"
            data-id="<%= res.Item_ID %>">
            <th scope="row">
              <%= res.Item_ID %>
            </th>
            <td>
              <img src="assets/img/<%= res.Item_Img_Name%>" alt="<%= res.Item_Img_Name%> image"
                title="<%= res.Item_Img_Name%>" height="50px" , width="50px">
            </td>
            <td>
              <%= res.Item_Name %>
            </td>
            <td>
              <%= res.Item_Description %>
            </td>
            <td>
              <%= res.Item_Purch_Date.toDateString() %>
            </td>
            <td>
              $<%= res.Item_Purch_Price.toFixed(2) %>
            </td>
          </tr>
          <% }%>


            <!-- Modal For Editing Collection-->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header flex-column">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <div>
                      <img src="" alt="" id="modalImg" width="100%">
                    </div>
                  </div>
                  <div class="modal-body text-center">
                  </div>
                  <div class="modal-footer justify-content-between">
                    <span>
                      <form id="delete-form" action="" method="POST">
                        <button class="btn btn-danger">DELETE</button>
                    </span>
                    </form>
                    <span><button type="button" class="btn btn-secondary clickable"
                        data-bs-dismiss="modal">Close</button>
                      <!-- <form id="edit-form" action="" method="POST"> -->
                      <!-- <button type="button" class="btn btn-primary">Edit</button> -->
                      <a href="" class="btn btn-primary" id="edit-btn">Edit</a>
                      <!-- </form> -->
                    </span>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </tbody>
    </table>
  </div>


  <!-- Script to dynamically add collection items in the row that is clicked on into the Modal: -->
  <script>
    var myModal = document.getElementById('myModal');
    var myInput = document.getElementById('myInput');

    myModal.addEventListener('shown.bs.modal', function () {
      // Trigger for the Modal:
      var row = event.relatedTarget;

      // Extract info from the data-* attributes I set up:
      var itemName = row.getAttribute('data-name');
      var itemDesc = row.getAttribute('data-desc');
      var itemImg = row.getAttribute('data-img');
      var itemId = row.getAttribute('data-id');

      // Update the modal's content.
      var modalTitle = myModal.querySelector('.modal-title')
      var myInput = myModal.querySelector('.modal-body')
      var myImg = myModal.querySelector('#modalImg').src = itemImg;
      var deleteForm = myModal.querySelector('#delete-form');
      var editBtn = myModal.querySelector('#edit-btn');

      modalTitle.textContent = itemName;
      myInput.textContent = itemDesc;
      deleteForm.action = '/collections/' + itemId + '?_method=DELETE';
      editBtn.href = '/collections/' + itemId + '/edit';
      // myInput.focus();
    });
  </script>