<% layout('layouts/boilerplate') %>

  <!-- Modal -->
  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="w-100 pt-1 mb-5 text-right">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="get" class="modal-content modal-body border-0 p-0">
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
          <button type="submit" class="input-group-text bg-success text-light">
            <i class="fa fa-fw fa-search text-white"></i>
          </button>
        </div>
      </form>
    </div>
  </div>


  <!-- Start Content -->

  <!-- Begin Dropdowns -->
  <div class="container py-5">
    <div class="row">

      <div class="col-lg-3">
        <h1 class="h2 pb-4">Categories</h1>

        <ul class="list-unstyled templatemo-accordion">
          <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
              Antiques
              <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
              <li><a class="text-decoration-none" href="#">Home Decor</a></li>
              <li><a class="text-decoration-none" href="#"></a>Instruments</li>
              <li><a class="text-decoration-none" href="#"></a>Jewlery</li>
            </ul>
          </li>
          <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
              Video Games
              <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
            <ul id="collapseTwo" class="collapse list-unstyled pl-3">
              <li><a class="text-decoration-none" href="#">Nintendo</a></li>
              <li><a class="text-decoration-none" href="#">XBOX/PlayStation</a></li>
            </ul>
          </li>
          <li class="pb-3">
            <a class="justify-content-between h3 text-decoration-none" href="#">
              Clothing
              <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-9">
        <div class="col-md-6">
          <div class="d-flex">
            <select class="form-control">
              <option>Featured</option>
              <option>A to Z</option>
              <option>Item</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End Dropdowns -->

      <!-- Begin Dynamic Adding of Products Data from DB -->
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xxl-4 g-4 mb-4">
        <% for(let product of results) { %>
          <div class="col">
            <div class="card h-100">
              <img src="assets/img/<%= product.Product_Img_Name %>" class="card-img-top"
                alt="<%= product.Product_Img_Name %>">
              <div class="card-body">
                <span class="card-title"><a href="/products/<%= product.Product_ID%>" class="h3 text-decoration-none">
                    <%= product.Product_Name %>
                  </a>
                </span>
                <p class="card-text">
                  Category: <%= product.Product_Category %>
                </p>
                <p class="card-text">
                  Condition: <%= product.Product_Condition %>
                </p>
                <ul class="list-unstyled d-flex justify-content-center align-content-end mb-1">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                </ul>
                <p class="text-center mb-0">$<%= product.Product_Price.toFixed(2) %>
                </p>
                <!-- <span class="d-flex justify-content-center mt-1 mb-0">
                  <a href="/delete/<%=product.Product_ID%>" class="btn btn-danger">DELETE</a>
                </span> -->
              </div>
              <div class="card-footer">
                <form class="d-flex justify-content-center mt-1 mb-0"
                  action="/products/<%=product.Product_ID%>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">DELETE</button>
                  <!-- <a href="" class="btn btn-sm btn-danger">DELETE</a> -->
                </form>
              </div>
            </div>
          </div>
          <%} %>
      </div>
      <!-- End Dynamic Adding of Products Data from DB -->


      <!-- <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item disabled">
            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
          </li>
        </ul>
      </div>
    </div> -->

    </div>
  </div>
  <!-- End Content -->